<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <meta charset="utf-8">
  <title>Unplug</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="favicon.ico" > 
</head>
<body>
   <section id="intro">
	   <div id="intro-slider" class="flexslider">
		   <ul class="slides">
			   <li>
				   <div class="row21">
					   <div class="twelve columns">
						   <div class="slider-text">
							   <h1>Share with world the talent in you!<span>.</span></h1>
							   <p>On Unplug upload anything</p>
						   </div>
                     <div class="slider-image">
                 <!--     <img src="<%= asset_path('01.png') %>" alt=""> -->
                     </div>
					   </div>
				   </div>
			   </li>
			   <li>
				   <div class="row21">
					   <div class="twelve columns">
						   <div class="slider-text">
							   <h1>Share with world the talent in you!<span>.</span></h1>
							   <p>On Unplug upload anything</p>
						   </div>
                     <div class="slider-image">
              <!--        <img src="<%= asset_path('02.png') %>" alt=""> -->
                     </div>
					   </div>
				   </div>
			   </li>
		   </ul>
	   </div>
   </section>
   <section id="works">
      <div class="row21">
         <div class="twelve columns align-center">
            <h1>Some of our services.</h1>
         </div>
         <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">
    		   <div class="columns portfolio-item">
               <div class="item-wrap">
                    <img src="<%= asset_path('explore.jpg') %>" alt="">
                     <div class="overlay"></div>
                     <div class="link-icon"><i class="fa fa-link"></i></div>
                  </a>
    					<div class="portfolio-item-meta">
    					   <h5><a href="#">Explore</a></h5>
                     <p>View Podcasts</p>
    					</div>
               </div>
    			</div>
            <div class="columns portfolio-item">
               <div class="item-wrap">
                    <img src="<%= asset_path('listen.jpg') %>" alt="">
                     <div class="overlay"></div>
                     <div class="link-icon"><i class="fa fa-link"></i></div>
                  </a>
    					<div class="portfolio-item-meta">
    					   <h5><a href="#">Console</a></h5>
                     <p>Web Development</p>
    					</div>
               </div>
    			</div>
            <div class="columns portfolio-item s-first">
               <div class="item-wrap">
                    <img src="<%= asset_path('upload.png') %>" alt="">
                     <div class="overlay"></div>
                     <div class="link-icon"><i class="fa fa-link"></i></div>
                  </a>
    					<div class="portfolio-item-meta">
    					   <h5><a href="#">Music</a></h5>
                     <p>Upload & Listen to songs</p>
    					</div>
               </div>
            </div>
            <div class="columns portfolio-item">
               <div class="item-wrap">
                    <img src="<%= asset_path('lyrics.jpg') %>" alt="">
                     <div class="overlay"></div>
                     <div class="link-icon"><i class="fa fa-link"></i></div>
                  </a>
    					<div class="portfolio-item-meta">
    					   <h5><a href="#">Get Lyrics</a></h5>
                     <p>Get Lyrics From Users</p>
    					</div>
               </div>
    			</div>
         </div>
      </div>
   </section> 
<section id="about">
      <div class="row21 team section-head">
   		<div class="twelv columns">
            <h1>Meet Our Team<span>.</span></h1>	         
	      </div>
      </div>
      <div class="row21">
         <div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">
            <div class="bgrid member">
					<div class="member-pic">
            <img src="<%= asset_path('shivin.png') %>" alt="">
                 	<div class="mask"></div>       	
               </div>
               <div class="member-name">
                  <h3>Shivin Agarwal</h3>
                  <span>Web Developer</span>
               </div>
               <p>New things intrigue you much? New technologies are his passion! Exploring the world of Ruby on Rails, his imagination and ideas always end up adding key features to the website! With thousands of ideas running in his mind, his command over the backend and servers are his assets!</p>
               <ul class="member-social">
                  <li><a href="https://www.facebook.com/shivin.agarwal.12?fref=ts"><i class="fa fa-facebook"></i></a></li>
               </ul>
            </div>
            <div class="bgrid member">
					<div class="member-pic">
                <img src="<%= asset_path('saloni.png') %>" alt="">
               	<div class="mask"></div>  
               </div>
               <div class="member-name">
                  <h3>Saloni Gupta</h3>
                  <span>Web Designer</span>
               </div>
               <p></p>
               <ul class="member-social">
                  <li><a href="https://www.facebook.com/saloni.gupta.5473894?fref=ts"><i class="fa fa-facebook"></i></a></li>
               </ul>
            </div> 
            <div class="bgrid member">
					<div class="member-pic">
            <img src="<%= asset_path('anuj.png') %>" alt="">
                 	<div class="mask"></div>                          	
               </div>
               <div class="member-name">
                  <h3>Anuj Agarwal</h3>
                  <span >Android App Developer</span>
               </div>
               <p>There are three responses to a piece of design - Yes, No and WOW! Wow is the one he has always aimed for! Being a perfectionist when it comes to digital creativity, he is trying his luck with android! Crazy about android, his creativity and efficiency adds a glow to things</p>
               <ul class="member-social">
                  <li><a href="https://www.facebook.com/anujagarwal009?fref=ts"><i class="fa fa-facebook"></i></a></li>
               </ul>
     			</div>
         </div>
      </div>      	         	                    
   </section> 
   <footer>
      <div class="row21">
         <div class="twelve columns">
           <ul class="footer-social">
            <center><p>Connect us through.</p></center>
               <li><a href="https://www.facebook.com/Unplug0/"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/unplug16"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <ul class="copyright">
               <li>Copyright &copy; Unplug</li> 
               <li>Design by <a href="https://www.facebook.com/Unplug0/"> By love from Unplug</a></li>               
            </ul>
         </div>
         <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>
      </div>
   </footer>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
</body>
</html>